# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
.tempi

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Type checker
.mypy_cache/
.pyre/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm / JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# SQLite databases
*.sqlite3

# Temporary files
*.tmp
*.temp